<footer class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="footer" contenteditable="true">ÚNETE A SUPERFUDS</h4>
                                <p>Yuccie messenger bag DIY, gastropub affogato heirloom you probably haven't heard of them
                                    selfies lo-fi 90's flexitarian.&nbsp;</p>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group footer">
                                        <div class="col-sm-12">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Ingresa tu correo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-block btn-lg btn-success">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <h4>LINKS INTERÉS</h4>
                                <ol class="list-unstyled text-primary">
                                    <li><a ui-sref="home">Inicio</a></li>
                                    <li><a ui-sref="productos">Productos</a></li>
                                    <li><a ui-sref="proveedores">Proveedores</a></li>
                                    <li><a ui-sref="clientes">Clientes</a></li>
                                    <li><a ui-sref="superchef">Superchef</a></li>
                                    <li><a ui-sref="historia">Historia</a></li>
                                    <li><a >Log In</a></li>
                                </ol>
                            </div>
                            <div class="col-md-2">
                                <h4>NOSOTROS</h4>
                                <ol class="list-unstyled text-primary">
                                    <li><a ui-sref="historia">Historia</a></li>
                                    <li><a ui-sref="productos">Productos</a></li>
                                    <li><a ui-sref="proveedores">Proveedores</a></li>
                                    <li><a ui-sref="clientes">Clientes</a></li>
                                    <li><a ui-sref="superchef">Superchef</a></li>
                                </ol>
                            </div>
                            <div class="col-md-3">
                                <h4>INFORMACIÓN</h4>
                                <blockquote>
                                    <p>Bogotá, Colombia.</p>
                                    <p>Carrera 8 #67-74</p>
                                    <p>Quinta Camacho</p>
                                    <p>info@superfuds.com.co</p>
                                    <p>+(57) 321-469-0562</p>
                                </blockquote>
                            </div>
                            <div class="col-md-2">
                                <h4>REDES SOCIALES</h4>
                                <blockquote>
                                    <p>
                                        <i class="fa fa-1x fa-fw fa-instagram"></i>Instagram</p>
                                    <p>
                                        <i class="fa fa-1x fa-fw fa-youtube-play"></i>Youtube</p>
                                    <p>
                                        <i class="fa fa-1x fa-fw fa-twitter"></i>Twitter</p>
                                    <p>
                                        <i class="fa fa-1x fa-fw fa-facebook"></i>Facebook</p>
                                    <p>
                                        <i class="fa fa-1x fa-fw fa-vimeo-square"></i>Vimeo</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-fin">
        <div class="col-md-12">
            <p class="text-center">Copyright 2016 Superfuds.
                <br>Creado con amor por Estudio Codesign.</p>
        </div>
    </div>
</footer>