<div class="cover home">
  <navbar1></navbar1>
  <div class="cover-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="/images/matica.png">
        <h1>Somos el marketplace de alimentos
          <br>saludables más grande del país</h1>
        <br>
        <br>
        <a class="col-sm-offset-4 col-sm-4 btn btn-lg btn-success">Registrate Ya</a>
      </div>
    </div>
  </div>
</div>

<div class="section manzana">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">
        <div>
          <h1>Somos el marketplace de alimentos<br> saludables más grande del país</h1>
          <h4 class="manzana-light">Somos el marketplace de alimentos<br>
          saludables más grande del país</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section ">
  <div class="container">
    <div class="row">
      <h1 class="text-center text-muted">¿Cómo Funciona?</h1>
      <div class="col-md-offset-3 col-md-6">
        <p class="text-center text-muted">Yuccie messenger bag DIY, gastropub affogato heirloom you probably haven't heard of them selfies lo-fi 90's flexitarian.
          Fap art party gochujang scenester, air plant celiac pinterest viral semiotics readymade occupy photo booth affogato
          chia. Small batch deep v iPhone, umami banjo swag cred roof party. Next level offal lo-fi green juice copper mug.
          .
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 text-center">
        <img src="/images/computador.png" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="section mid brocolis">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Somos el marketplace de alimentos&nbsp;
          
          <br>saludables más grande del país</h1>
        <h4 class="text-center">Somos el marketplace de alimentos&nbsp;
          
          <br>saludables más grande del país</h4>
      </div>
    </div>
  </div>
</div>
<div class="section ">
  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" style="padding:50px">SUPERCHEF</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NjQQHVQwqSs" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="btn btn-lg btn-success">Sigue SUPERCHEF</a>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/home2.png" class="img-responsive">
      </div>
      <div class="col-md-6">
        <h1 class="text-muted">¿QUIÉNES SOMOS?</h1>
        <p class="text-muted">Yuccie messenger bag DIY, gastropub affogato heirloom you probably haven't heard of them selfies lo-fi 90's flexitarian.
          Fap art party gochujang scenester, air plant celiac pinterest viral semiotics readymade occupy photo booth affogato
          chia. Small batch deep v iPhone, umami banjo swag cred roof party. Next level offal lo-fi green juice copper mug.
          .Yuccie messenger bag DIY, gastropub affogato heirloom you probably haven't heard of them selfies lo-fi 90's flexitarian.
          Fap art party gochujang scenester, air plant celiac pinterest viral semiotics readymade occupy photo booth affogato
          chia. Small batch deep v iPhone, umami banjo swag cred roof party. Next level offal lo-fi green juice copper mug.
          . Yuccie messenger bag DIY, gastropub affogato heirloom you probably haven't heard of them selfies lo-fi 90's flexitarian.
          Fap art party gochujang scenester, air plant celiac pinterest viral semiotics readymade occupy photo booth affogato
          chia. Small batch deep v iPhone, umami banjo swag cred roof party. Next level offal lo-fi green juice copper mug.
          .selfies lo-fi 90's flexitarian. Fap art party gochujang scenester, air plant celiac pinterest viral semiotics
          readymade occupy photo booth affogato chia. Small batch deep v iPhone, umami banjo swag cred roof party. Next level
          offal lo-fi green juice copper mug. .</p>
        <div class="row text-center">
          <a class="btn btn-lg btn-success col-sm-5">Registrate Ya</a>
        </div>
      </div>
    </div>
  </div>
</div>