<nav class="navbar navbar-default nav-gen">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="registro">
        <img src="/images/logo.png" class="img-responsive">
    </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
      <ul class="nav navbar-nav">
        <li><a ng-class="{ selected: isActive('/home')}" ui-sref="home">Inicio</a></li>
        <li><a ng-class="{ selected: isActive('/productos')}" ui-sref="productos">Productos</a></li>
        <li><a ng-class="{ selected: isActive('/proveedores')}" ui-sref="proveedores">Proveedores</a></li>
        <li><a ng-class="{ selected: isActive('/clientes')}" ui-sref="clientes">Clientes</a></li>
        <li><a ng-class="{ selected: isActive('/superchef')}" ui-sref="superchef">Superchef</a></li>
        <li><a ng-class="{ selected: isActive('/historia')}" ui-sref="historia">Historia</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="registro">LOG IN</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>